<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid" id="photosJumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to <i class="fas fa-camera-retro"></i> PhotoDiary</h1>
    <p class="lead">Submit your photos now and let the world explore it.</p>
    <a class="btn btn-md btn-success" href="/photos/new">Submit Photo</a>
  </div>
</div>

<div class="container">
   <div class="row text-center" id="imageholder"  >
       <% Photos.forEach(function(Photo){ %>
        <div class="col-md-4 col-sm-6 imageContainer" >
            <a href="/photos/<%= Photo._id %>">
            <div class="thumbnail"> 
            <img src="<%= Photo.image %>" class="img-fluid" >
            </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>