
nav {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    border: 1px solid rgba(222, 226, 232,0.9);
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    
}


/* Photos Page */
#imageholder {
    padding-bottom: 25px;
}

/* Show Page */
#description {
    
    margin-top: 59px;
}

/* Show Page */
#showContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Show Page */
#imageDescription{
    
    margin: 15px 5px;
}